/* adminpanel css*/

body {
  background-color: #f1f1f1;
  height: auto;
  margin: 0;
  font-family: 'Georgia';
}

.wrap {
  overflow-x: hidden;
}

/* CKEDITOR CSS */
#cke_editor1 {
  border: 0 !important;
}

.cke_top {
  border: 0 !important;
  border-left: 5px solid #2c3e50 !important;
  box-shadow: none !important;
  padding: 5px 0 0 0 !important;
}

.cke_bottom {
  border: 0 !important;
  border-left: 5px solid #2c3e50 !important;
  box-shadow: none !important;
  background: #e6e6e6 !important;
}

.cke_toolgroup {
  border: none !important;
  margin: 0 5px 5px 0 !important;
}

.cke_button:hover {
  box-shadow: none !important;
  background: #ffffff !important;
}

.cke_combo_button {
  border: 0 !important;
  background: #fafafa !important;
  box-shadow: none !important;
}

.cke_combo_button:hover {
  border: 0 !important;
  background-color: #fff !important;
  box-shadow: none !important;
}

.cke_combo_button:active {
  border: 0 !important;
  background-color: #fff !important;
  box-shadow: none !important;
}

.cke_panel_grouptitle {
  border-bottom: 5px solid #2c3e50 !important;
  background: #fafafa !important;
}

.cke_panel_block {
  border-left: 5px solid #2c3e50 !important;
  padding: 0 !important;
}

.cke_toolbar_break {
  display: none !important;
}
/* CKEDITOR CSS */

.body_wrapper {
  float: right;
  width: 100%;
  transition: all 0.3s ease-out;
  margin-top: 50px;
}

.body_wrapper.menu-open {
  float: right;
  width: calc(100% - 300px);
}

.menu-open .adminbar-wrapper {
  left: 0;
}

.adminbar-wrapper {
  transition: all 0.3s ease-out;
  position: absolute;
  width: 300px;
  height: calc(100% - 100px);
  top: 0;
  left: -300px;
  z-index: 999;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
  margin: 50px 0;
}

.menu-button {
  transition: all 0.3s ease-out;
  background: url("../img/noteblack.svg");
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  cursor: pointer;
  margin: 5px;
  opacity: 0.2;
}

.menu-open .menu-button {
  margin-left: 255px;
}

.menu-button:hover {
  opacity: 1;
}

.login-wrapper, .newuser-wrapper {
  width: 80%;
  max-width: 450px;
  min-width: 320px;
  margin: 10% auto 25px;
}

.newuser-wrapper {
  margin-top: 100px;
}

.updateversion {
  font-family: Georgia;
  font-size: 2em;
  color: #2c3e50;
  text-align: center;
  margin: 0;
}

.updatetitle {
  font-family: Georgia;
  font-size: 0.8em;
  color: #bdc3c7;
  text-align: center;
}
.container-two {
  width: 50%;
  float: left;
  margin: 50px 0;
  box-sizing: border-box;
}

.container-two:first-child {
  border-right: 1px solid #ecf0f1;
}

.changelog {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  overflow-y: auto;
  height: 200px;
  transition: 0.3s all ease-in-out;
  color: #2c3e50;
  font-family: 'Georgia';
}

.changelog.closed {
  height: 0;
  overflow: hidden;
}

.changelogbutton {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 0;
  color: #bdc3c7;
}

.changelogbutton a {
  text-decoration: underline;
  cursor: pointer;
}

.note {
  height: 60px;
  background-size: contain;
  background: url("../img/noteblack.svg");
  margin-bottom: 25px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.note:hover {
  background: url("../img/noteblack.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.loginform, .userform {
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
  display: inline-block;
}

.logininput {
  width: 90%;
  font-size: 24px;
  padding: 3px;
  box-sizing: border-box;
  margin: 0 5%;
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
  font-family: 'Georgia';
}

.powered {
  font-family: 'Georgia';
  font-size: 11px;
  color: #777;
  width: 100%;
  text-align: right;
}

.label {
  font-family: 'Georgia';
  font-size: 14px;
  color: #777;
  margin: 0;
  padding-left: 5%;
  box-sizing: border-box;
  line-height: 1.5;
  padding-top: 25px;
}

.loginbutton {
  font-family: 'Georgia';
  font-size: 15px;
  line-height: 1;
  padding: 12.5px 20px;
  background-color: #2ecc71;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
  border: none;
  color: #ffffff;
  float: right;
  margin: 25px 5% 25px 0;
}

.loginbutton:hover, .updatebutton:hover {
  background-color: #2cc16a;
  cursor: pointer;
}

.updatebutton {
  font-family: 'Georgia';
  font-size: 15px;
  line-height: 1;
  padding: 12.5px 20px;
  background-color: #2ecc71;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
  border: none;
  color: #ffffff;
  margin: 25px auto;
  text-decoration: none;
  display: table;
}

.quill-wrapper {
  margin: 20px 0px 25px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  width: 100%;
}

.ql-editor {
  min-height: auto !important;
}

.quill-wrapper #toolbar {
  border-bottom: 1px solid #ccc; 
}

.editor-toolbar {
  margin: 20px 0px 25px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  width: 100%;
  height: 40px;
}

.editor-wrapper {
  width: 80%;
  max-width: 650px;
  min-width: 320px;
  margin: 0 auto;
}

.post-title-input {
  border: none;
  width: 100%;
  height: 40px;
  font-size: 30px;
  padding-left: 10px;
  color: #444444;
  font-family: 'Georgia';
  border-left: 5px solid #2c3e50;
  box-sizing: border-box;
}

.post-submit-input {
  font-family: 'Georgia';
  font-size: 15px;
  line-height: 1;
  padding: 12.5px 20px;
  background-color: #2ecc71;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
  border: none;
  color: #ffffff;
  float: right;
  margin: 25px 0;
}

.post-submit-input:hover {
  background-color: #2cc16a;
  cursor: pointer;
}

.post-cancel-input, .post-delete-input {
  font-family: 'Georgia';
  font-size: 15px;
  line-height: 1;
  padding: 12.5px 20px;
  background-color: #e74c3c;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
  border: none;
  color: #fff;
  float: left;
  text-decoration: none;
  margin: 25px 0;
}

.post-delete-input {
  margin-left: 25px;
}

.post-cancel-input:hover, .post-delete-input:hover {
  background-color: #c0392b;
  cursor: pointer;
}

.ql-container {
  font-family: 'Georgia' !important;
  height: auto !important;
}

.adminbar-wrapper a {
  float: left;
  width: 100%;
  padding: 12.5px 0;
  text-align: center;
  border-bottom: 1px solid #ecf0f1;
  font-family: 'Georgia';
  font-size: 15px;
  text-decoration: none;
  color: #444;
}

.adminbar-wrapper a:hover {
  background-color: #2c3e50;
  color: #ffffff;
}

.adminbar-wrapper .footer {
  text-align: center;
  font-size: 11px;
  font-family: Georgia;
  color: #777;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.adminbar-wrapper .footer .note_small {
  background: url("../img/noteblack.svg");
  width: 20px;
  height: 20px;
  margin: 0 auto;
  opacity: 0.2;
  display: block;
}

.admin-menu-wrapper, .allposts-wrapper {
  height: auto;
  width: 80%;
  margin: 0 auto;
  max-width: 650px;
  min-width: 320px;
}

.admin-container, .allposts-container {
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
  margin-bottom: 25px;
}

.admin-container:last-child {
  margin-bottom: 25px;
}

.admin-container h2, .admin-container h1, .admin-container p, .allposts-container h2, .allposts-container h3, .allposts-container h1, .allposts-post-body {
  padding: 15px;
  margin: 0;
  color: #444;
}

.allposts-wrapper {
  max-width: 1000px;
}

.allposts-title {
  border-bottom: 1px solid #ccc;
}

.allposts-post {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.allposts-post h3, .allposts-post .allposts-post-body, .post-edit-link {
  float: left;
  width: calc(100%/3);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.allposts-post .allposts-post-body {
  width: 40%;
}

.allposts-edit-link {
  width: 20%;
}

.allposts-edit-link a {
  padding: 15px;
  box-sizing: border-box;
  display: block;
  text-align: right;
}

.welcomemessage {
  font-size: 26px;
  color: #444444;
  padding: 5px 10px;
  margin: 0 0 25px 0;
  background-color: #ffffff;
  width: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
  border-left: 5px solid #e74c3c;
  box-sizing: border-box;
}

.admin-menu p {
  padding: 15px;
}

.post-verification {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 1;
  display: block;
}

.post-verification.pre.valid {
  background-color: #2ecc71; 
}

.post-verification.pre.unvalid {
  background-color: #e74c3c; 
}

.post-verification.after {
  background-color: #f1f1f1; 
}

.checkmark {
  width: 100px;
  height: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  position: absolute;
  fill: #f1f1f1;
}

.checkmark svg {
  width: 100px;
  height: 100px;
  fill: #f1f1f1;
}

.valid.checkmark.pre svg, .unvalid.checkmark.pre svg {
  fill: #f1f1f1 !important;
}

.valid .checkmark.after svg {
  fill: #2ecc71;
}

.unvalid .checkmark.after svg {
  fill: #e74c3c;
}

.pre, .after, .pre svg, .after svg {
  -webkit-transition: background-color 0.7s ease-in, fill 1.2s ease-in; /* Safari */
  transition: background-color 0.7s ease-in, fill 1.2s ease-in;
}

.message {
  width: 80%;
  max-width: 650px;
  min-width: 320px;
  margin: 0 auto;
}

.loginmessage {
  margin: 0;
}

.message p {
  width: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
  border-left: 5px solid #444;
  box-sizing: border-box;
  margin: 0;
  line-height: 1;
  padding: 12px 15px 12px 10px;
  display: inline-block;
  color: #444444;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #444;
  margin-left: 5px;
}

#editor {
  min-height: 300px;
}

.stats-wrapper {
  display: inline-block;
}

.stats-container {
  width: 30%;
  height: auto;
  margin: 0 calc(10% / 6);
  float: left;
  text-align: center;
}

.stats-container p {
  color: #777;
}

.visible {
  display:inherit;
}

.hidden {
  display: none;
}

.noted {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: url("../img/noteblack.svg");
  opacity: 0.5;
}

.tags-input {
  background: #fff;
  display: block;
  padding: 6px 10px;
  width: 100%;
  margin-top: 25px;
  font-size: 20px;
  font-family: Georgia;
  box-sizing: border-box;
  border: none;
  border-left: 5px solid #2c3e50;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

@media only screen and (max-width: 700px) {
  .body_wrapper.menu-open {
    margin-right: -50px;
  }
}